In [5]:
#---Step 0: Import necessary libraries and render plots inline---

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.style.use('fivethirtyeight')

In [9]:
#---Step 1: Read in data---

names_df = pd.read_csv("/Users/cheon/testerData.csv", index_col=0)

names_df.reset_index(inplace=True)

names_df["Name"].value_counts()

Matt      20
James     10
Shelly     8
Ethan      5
Jack       3
Name: Name, dtype: int64

In [12]:
tester = names_df.groupby(["Name"]).agg({"Name" : "count"})

tester.columns = ["count"]

tester

        count
Name
Ethan       5
Jack        3
James      10
Matt       20
Shelly      8